@{
    ViewData["Title"] = "Not Defteri";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <p>NJotlarınızı oluşturup saklayabileceğiniz ve düzenleyebileceğiniz bu uygulamayı kullanmak için lütfen 
        <a asp-area="Identity" asp-page="/Account/Register">kaydolun</a> ya da zaten üyeyseniz 
        <a asp-area="Identity" asp-page="/Account/Login">giriş yapın</a>.</p>
</div>
