@model List<Note>
@{
    ViewData["Title"] = "Not Defteri";
}

<a asp-controller="Notlar" asp-action="Yeni" class="btn btn-primary">Yeni Not Ekleme</a>

@if (Model.Count == 0)
{
    <p>Gösterilecek bir not bulunmuyor.</p>
}
else
{
    <ul>
        @foreach (Note n in Model)
        {
            <li>
                <strong>@n.Title</strong> <a asp-controller="Notlar" asp-action="Duzenle" asp-route-id="@n.Id">Düzenle</a> <a asp-controller="Notlar" asp-action="Sil" asp-route-id="@n.Id">Sil</a> 
                <br />
                @n.Content
            </li>
        }
    </ul>
}


